body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-image: url('http://devclass.com/wp-content/uploads/2019/06/shutterstock_306454088.jpg');
    transition: background-image 0.1s ease;
    overflow: hidden;
    background-position: center;
    background-size: cover;    
    background-repeat: no-repeat;
}
.app-container{
    /* opacity: 0.25; */
    transition: all 0.5s ease;
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 45px;
    padding: 30px;
    border-radius: 25px;
    width: 370px;
    margin-right: auto;
    margin-left: auto;
    height: 460px;
    background-color: rgb(226, 213, 196);
}
.weather-info{
    width: 320px;
    height: 300px;
    border-radius: 20px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    /* line-height: 2rem; */
}
#city, #Date ,#min_max,#weather-type{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    padding: 12px;
    margin: 5px;
}
#temp{
    font-weight: 700;
    font-size: 3rem;
    padding: 5px;
}
.search-input{
    font-weight: bold;
    width: 314px;
    height: 36px;
    background: white;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}
input{
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
     margin: 5px auto;    
    background: none;
}
